<div data-hook='contact'>
  <%= render "spree/shared/error_messages", :target => @message %>
	<br/>

  <%= form_for(:message) do |f| %>

    <div data-hook="contact_inside_form">
      <p>
        <%= f.label :topic_id, t("subject") %><br />
        <%= f.collection_select :topic_id, Spree::ContactTopic.all, :id, :name  %>
        <br><br>
        <%= f.label :name, t("name") %><br />
        <%= f.text_field :name  %>
        <br><br>
        <%= f.label :email, t("email") %><br />
        <%= f.text_field :email  %>
        <br><br>
        <%= f.label :order_number, t(:order_number) %> <small>(<%= t('optional') %>)</small><br />
        <%= f.text_field :order_number  %>
        <br><br>
        <%= f.label :message, t("message") %><br />
        <%= f.text_area :message, :rows => 10  %>
        <br><br>
        <%= submit_tag t("send_message"), :class => 'button primary' %></p>
    </div>
  <% end %>
</div>